NODE_ENV=development
PORT=3001

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=ecommerce.direct
RABBITMQ_QUEUE=order_events

# Service
SERVICE_NAME=inventory-service
